* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

html {
	background-color: #202020 ;
}

body {
	font-size: 18px;
	font-family: Arial;
	background-color: #303030 ;
	color: #f6f5f4;
	margin: 0 15%;
	padding: 0.5% 5%;
}

h1 {
	color: #e66100;
}

.active-page {
	color:  #3584e4;
}

nav {
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
  
	li { display: inline-block; }
  
	a {
	  display: block;
	  padding: 6px 12px;
	  text-decoration: none;
	}
}
  